@import "./UI/_vars.scss";

Chat
{
    position: absolute;
    left: 64px;
    bottom: 80px;
    width: 600px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    align-items: stretch;
    font-size: 17px;
    font-family: FredokaOne;
    font-weight: bolder;
    gap: 10px;

    .output
    {
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
        gap: 5px;

        .chat_entry
        {
            padding: 2px;
            gap: 10px;
            text-shadow: 1px 1px 1px black;
            align-items: center;

            .avatar
            {
                width: 32px;
                height: 32px;
                background-position: center;
                background-size: cover;
                border-radius: 100px;
            }

            .author
            {
                color: #2d95ce;
                white-space: nowrap;
                flex-shrink: 0;
            }

            .message
            {
                color: #fff;
            }
        }
    }

    .input
    {
        color: white;

        .textentry
        {
            align-items: flex-start;
            white-space: normal;
        }
    }

    &.open
    {
        .input
        {
            background-color: rgba($dark-grey, 0.9);
            backdrop-filter-blur: 32px;
            border-radius: 7px;
            opacity: 0.8;
        }
    }
}
