@import "./UI/_vars.scss";

ControlHints 
{
    position: absolute;
    right: 64px;
    bottom: 128px;
    flex-direction: column;
    padding-bottom: 16px;

    .hint {
        flex-direction: row;
        align-items: center;
        margin-bottom: 8px;
        justify-content: flex-end;

        text {
            font-size: 16px;
            color: $light-blue;
            margin-right: 8px;
            text-shadow: 0 3 0 black;
            text-stroke: 4px black;
        }

        img {
            backdrop-filter-blur: 32px;
            border-radius: 10px;
            background-color: rgba($dark-grey, 0.9);
            color: white;
            font-size: 18px;
            justify-content: center;
            text-align: center;
            text-shadow: 0 3 0 black;
            text-stroke: 4px black;
            width: 100px;
            height: 30px;
            padding: 4px;
        }
    }
}