$accent: #eda656;
$green: #16261c;
$text: #f4efec;
$transition: all 150ms ease;

HUDComponent
{
    font-family: FredokaOne;
    font-weight: bolder;
    color: $text;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

label, text
{
    font-family: FredokaOne;
    color: $text;
    font-weight: bolder;

    &.title
    {
        text-shadow: 5px 5px 1px rgba(black, 0.2);
        font-size: 30px;
    }
}

.notice
{
    position: absolute;
    transform: translateX(-50%);
    top: 20%;
    left: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}