@namespace Facepunch.Minigolf.UI
@inherits PanelComponent
@attribute [Title( "HUD" )]

<root>
    <div style="flex-grow: 1;" />
@*     <div class="vitals column gap">
        <div class="gap">
            <label>Stroke:</label>
            <label>@Ball.Local.GetCurrentPar()</label>
        </div>

        <div class="gap">
            <label>Hole:</label>
            <label>@GameManager.Instance.CurrentHole.Number</label>
            <label>Par:</label>
            <label>@GameManager.Instance.CurrentHole.Par</label>
        </div>
    </div> *@

    <PowerBar />
</root>

@code
{
    protected override int BuildHash()
    {
        return HashCode.Combine( Ball.Local, Ball.Local.GetCurrentPar(), GameManager.Instance, GameManager.Instance.CurrentHole.Number );
    }
}
