@namespace Facepunch.Minigolf.UI
@inherits PanelComponent
@attribute [Title( "HUD" )]

<root>
    @if ( GameManager.Instance.State == GameState.InPlay )
    {
        <PowerBar />
        <HoleScore />
        <ControlHints />
        <HoleMarker />
    }

    @if ( GameManager.Instance.State == GameState.WaitingForPlayers )
    {
        <div class="notice">
            <label class="title">Waiting for players</label>
            <label class="title">(@(Connection.All.Count())/@(GameManager.MinPlayers))</label>
        </div>
    }

    <GolfScoreboard />
</root>

@code
{
    protected override int BuildHash()
    {
        return HashCode.Combine( Ball.Local, Ball.Local.GetCurrentPar(), GameManager.Instance, GameManager.Instance.CurrentHole.Number, GameManager.Instance.State );
    }
}
