@import "/ui/_vars.scss";

PowerBar
{
    font-family: FredokaOne;
    position: absolute;
    bottom: 32px;
    left: 64px;
    flex-direction: column;

    .powerbar-header
    {
        align-items: center;
        flex-direction: row;

        .title
        {
            color: $light-blue;
            font-size: 26px;
            flex-grow: 1;
        }

        .value
        {
            font-size: 32px;
            color: #fff;
        }

        text
        {
            text-shadow: 0 3 0 black;
            text-stroke: 4px black;
        }
    }

    .powerbar-container
    {
        flex-direction: row;
        width: 320px;
        height: 16px;

        .bar-container
        {
            background-color: rgba($dark-grey, 0.9);
            backdrop-filter-blur: 32px;
            border-radius: 7px;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }

        .bar
        {
            background: linear-gradient(to right, $green, $light-green);
            box-shadow: 0 5px 10px rgba(#000, 0.5);
            opacity: 0;

            &.is-visible
            {
                opacity: 1;
            }
        }

        .last-power-container
        {
            position: absolute;
            bottom: -4px;
            width: 100px;

            .last-power-label
            {
                bottom: -18px;
                text-shadow: 0 2 0 black;
                text-stroke: 2px black;
                font-size: 12px;
                color: $green;
                position: absolute;
                transform: translateX(-50%);
            }

            .last-power-icon
            {
                left: -10px;
                top: -12px;
                width: 15px;
                height: 12px;
                position: absolute;
                background-repeat: no-repeat;
                background-image: url("/ui/arrow.png");
            }
        }
    }
}