@namespace Facepunch.Minigolf.UI
@attribute [StyleSheet( "/UI/ControlHints.scss" )]

<root>
    <div class="hint"><text>Customise Menu</text><buttonhint name="Menu" /></div>
    <div class="hint"><text>Free Cam</text><buttonhint name="View" /></div>
    <div class="hint"><text>Reset Ball</text><buttonhint name="Reload" /></div>
    <div class="hint"><text>Stroke</text><buttonhint name="Attack1" /></div>
    <div class="hint"><text>Scoreboard</text><buttonhint name="Score" /></div>
</root>
