holemarker {
    position: absolute;
    flex-direction: column;
    align-items: center;

    image {
        width: 140px;
        height: 140px;
        background-image-tint: rgb(200, 255, 200);
    }

    label {
        color: white;
        font-size: 32px;
        font-family: Poppins;
        font-weight: bold;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
        margin-top: -16px;
    }
}
