scorefeed {
  position: absolute;
  top: 0;
  right: 0;
  width: 512px;
  height: 256px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-end;
}

scorefeedentry {
  align-items: center;
  flex-direction: row-reverse;

  image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 8px;
  }

  label {
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-right: 4px;
    text-shadow: 0 3px 0 black;
    text-stroke: 2px black;

    &.score {
      color: yellow;
    }

    &.holeinone {
      text-transform: uppercase;
    }
  }

  transition: all 1s ease-out;

  &:intro {
    right: 512px;
  }
  &:outro {
    top: -256px;
    transform: scale(2);
  }
}
