@import "./Styles/_vars.scss";

SpectatingInfo {
    position: absolute;
    left: 64px;
    top: 64px;

    label {
        font-family: $font-title;
        font-size: 48px;
        color: $light-blue;
        text-shadow: 2 4 2 black;
        text-stroke: 6px black;
    }
}