@using Facepunch.Minigolf.Entities

@namespace Facepunch.Minigolf.UI
@attribute [StyleSheet( "/UI/SpectatingInfo.scss" )]

@{
    var text = GetSpectatingText();
    if (string.IsNullOrEmpty(text))
        return;

    <root>
        <label>@text</label>
    </root>
}

@code {
    private string GetSpectatingText()
    {
        var text = string.Empty;

        var camera = MinigolfGame.Current.FollowBallCamera;
        if (camera is null)
            return text;

        var ball = Sandbox.Game.LocalClient as Ball;
		var target = camera.Target;

        // If we don't have a target or we are still actively playing.
        if (target is null || ball is not null)
            return text;

        return $"Spectating {target.Client.Name}";
    }

    protected override int BuildHash() => HashCode.Combine(GetSpectatingText());
}
