@using Sandbox;
@using Sandbox.Razor;
@using Sandbox.UI;

@namespace Facepunch.Minigolf.UI
@inherits Panel
@attribute [StyleSheet]

<root>

	@if ( !Visible )
		return;

	@{ var crumbs = GetCrumbs(); }
	@for (int i = 0; i < crumbs.Count; ++i)
	{
		var crumb = crumbs[i];

		<button onclick=@(() => GoTo(crumb.Url))>@crumb.Name</button>

		if (i != crumbs.Count - 1)
		{
			<label>&gt;</label>
		}
	}
</root>


@code {
	public bool Visible => MainMenu.Current.CurrentMenu is not Home;

	protected override int BuildHash()
	{
		return HashCode.Combine(Visible);
	}

	public void GoTo(string url)
	{
		MainMenu.Current.GoTo(url);
	}

	public List<(string Url, string Name)> GetCrumbs()
	{
		var nav = MainMenu.Current;
		var split = nav.CurrentUrl.Split( '/' ).Select( x => "/" + x );

		var crumbs = new List<(string Url, string Name)>();

		foreach ( var crumb in split )
		{
			var url = crumb;
			var name = crumb.ToTitleCase().Replace( "/", "" );

			if (url == "/")
				name = "Home";

			crumbs.Add((url, name));
		}

		return crumbs;
	}
}
