@using Sandbox;
@using Sandbox.UI;

@namespace Facepunch.Minigolf.UI
@inherits BaseMenu

@attribute [Menu("/controls", "Controls", "Change your controls", -10)]

<root>
	
	<label>Controls Menu</label>

</root>
