@using Sandbox;
@using Sandbox.UI;

@namespace Facepunch.Minigolf.UI
@inherits BaseMenu

@attribute [Menu("/customize", "Customize", "Shape your golf ball's style", -20)]

<root>
	
	<label>Customize Menu</label>

</root>
