@using Sandbox;
@using Sandbox.UI;

@namespace Facepunch.Minigolf.UI
@inherits BaseMenu

<root>
	
	<img src="/ui/minigolf_logo.png" class="logo" />
			
	@if( Menus != null )
	{
		@foreach (var menu in Menus)
		{
			<MenuItem onclick="@(() => GoTo( menu ))">

				<Title>@menu.Name</Title>
				<Description>@menu.Description</Description>
				
			</MenuItem>
		}				
	}

</root>

@code {
	public List<MenuAttribute> Menus { get; set; }

	public Home()
	{
		Menus = TypeLibrary.GetAttributes<MenuAttribute>().OrderBy( x => x.Order ).ToList();
	}
}
