@using Sandbox;
@using Sandbox.UI;

@namespace Facepunch.Minigolf.UI
@inherits BaseMenu

@attribute [Menu("/play", "Play", "Start your mini-golf adventure", -1000)]

<root>

	<left>
		<label>Play Menu</label>
	</left>

	<right>
		<label>My Party</label>
	</right>

</root>
