@namespace Facepunch.Minigolf.UI

@inherits Sandbox.UI.Panel
@attribute [StyleSheet( "/UI/TextChat/TextChat.scss" )]

<root>
	<div class="canvas" @ref=Canvas></div>
	<TextEntry @ref=Input onsubmit=@Submit onblur=@Close/>
</root>
