@namespace Facepunch.Minigolf.UI

@inherits Sandbox.UI.Panel
@attribute [StyleSheet( "/UI/TextChat/TextChat.scss" )]

<root>
	@if ( SteamId > 0 )
	{
		<img src="avatar:@SteamId"/>
	}

	@if ( !string.IsNullOrEmpty( Name ) )
	{
		<label class="name" text=@Name/>
	}

	<div>
		<label class="msg" text=@Message/>
	</div>
</root>

@code
{
	public string Name { get; set; }
	public string Message { get; set; }
	public long SteamId { get; set; }
	public TimeSince Lifetime { get; init; } = 0;
}
