@using Sandbox;
@using Sandbox.UI;

@namespace Facepunch.Minigolf.UI
@inherits BaseMenu

<root>
<div class="row" style="width: 100%; height: 100%; justify-content: flex-start; align-items: stretch;">

        <div class="column">
            <div class="column gap-large" style="width: 386px;">
                <label class="title">Get customizing!</label>
            </div>
        </div>

        <div class="grow" />

        <div class="column courses gap" style="width: 386px; align-items: flex-end;">
            <label class="title">Right-hand side</label>
        </div>

	</div>
</root>
