@using Sandbox;
@using Sandbox.UI;

@namespace Facepunch.Minigolf.UI
@inherits BaseMenu

<root>
	<div class="row" style="width: 100%; height: 100%; justify-content: flex-start; align-items: stretch;">

        <div class="column">
            <img src="/ui/minigolf_logo.png" class="logo" />

            <div class="column gap-large" style="width: 386px;">
                <label class="title">Pick a course</label>

                <div class="column gap">
                    @foreach (var scene in ResourceLibrary.GetAll<SceneFile>().Where(x => x.ResourcePath.Contains("/courses/")))
                    {
                        <CourseCard SceneFile=@scene />
                    }

                    <ButtonCard Color="#47ad78" onclick="@(() => this.Navigate( "/avatar" ) )">
                        <Main>
                            <i>account_circle</i>
                            <label>Avatar</label>
                        </Main>
                        <Overlay>
                            <i>south</i>
                            <label>EDIT YOUR AVATAR</label>
                        </Overlay>
                    </ButtonCard>
                </div>
            </div>
        </div>

        <div class="grow" />

        <div class="column courses gap" style="width: 386px; align-items: flex-end;">
            <div class="column gap scroll" style="align-items: flex-end;">
                @foreach ( var achievement in Sandbox.Services.Achievements.All.OrderBy( x => !x.IsUnlocked ) )
                {
                    <AchievementCard Achievement=@achievement />
                }
            </div>
        </div>

	</div>
</root>

@code
{
    void OpenScene( SceneFile scene )
    {
        Scene.Load( scene );
    }

}
