@using Sandbox;
@using Sandbox.UI;

@namespace Facepunch.Minigolf.UI
@inherits BaseMenu

<root>
	<div class="row" style="width: 100%; height: 100%; justify-content: flex-start; align-items: stretch;">

        <div class="column">
            <img src="/ui/minigolf_logo.png" class="logo" />

            <div class="column courses gap" style="width: 386px;">
                <label class="title">Courses</label>

                @foreach (var scene in ResourceLibrary.GetAll<SceneFile>().Where(x => x.ResourcePath.Contains("/courses/")))
                {
                    <div class="card column" onclick="@( () => OpenScene( scene ))">
                        <label>@scene.Title</label>
                        <label class="small">@scene.Description</label>
                    </div>
                }
            </div>
        </div>

        <div class="grow" />

        <div class="column courses gap" style="width: 386px;">
            <label class="title">My Achievements</label>

            <div class="column gap scroll">
                @foreach ( var achievement in Sandbox.Services.Achievements.All.OrderBy( x => !x.IsUnlocked ) )
                {
                    <AchievementCard Achievement=@achievement />
                }
            </div>
        </div>

	</div>
</root>

@code
{
    void Quit()
    {
        Game.Close();
    }

    void OpenScene( SceneFile scene )
    {
        Scene.Load( scene );
    }
}
