@using Sandbox;
@using Sandbox.UI;

@namespace Facepunch.Minigolf.UI
@inherits BaseMenu

<root>
    <div class="column padding">
        @foreach (var scene in ResourceLibrary.GetAll<SceneFile>().Where(x => x.ResourcePath.Contains("/courses/")))
        {
            <div class="card column">
                <label>@scene.Title</label>
                <label class="small">@scene.Description</label>
            </div>
        }
    </div>
</root>
