@import "../Styles/_vars.scss";

chatbox {
  position: absolute;
  bottom: 160px;
  left: 50px;
  z-index: 9001;
  flex-direction: column;
  width: 500px;
  height: 300px;
  font-size: 13px;

  textentry {
    opacity: 0;
    color: white;
    padding: 10px 16px;
    background-color: rgba($dark-grey, 0.9);
    font-size: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    border-radius: 30px;
    margin-top: 5px;
  }

  .chat_canvas {
    flex-direction: column;
    align-items: flex-start;
    overflow: scroll;
    width: 100%;
    height: 100%;
  }

  &.open {
    textentry {
      opacity: 1;
      backdrop-filter: blur(10px);
    }

    chatentry {
      transition: all 0s ease-out;
      opacity: 1;
    }
  }
}

chatentry {
  background-color: $primary;
  margin-top: 5px;
  color: white;
  transition: all 0.1s ease-out;
  box-shadow: 0 3px 10px rgba(#000, 0.5);
  opacity: 1;
  padding: 4px 16px 4px 4px;
  min-height: 32px;
  max-width: 100%;
  transform: scale(1);
  flex-direction: row;
  border-radius: 16px;

  &:intro {
    max-height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    opacity: 0;
    transform: scale(0);
  }

  &:outro {
    opacity: 0;
    transition: all 2s ease-out;
  }

  &.old {
    opacity: 0;
    transition: all 0.4s ease-out;
  }

  image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .name {
    color: $light-blue;
    margin-right: 16px;
    text-shadow: 0 2 0 $dark-blue;
    text-stroke: 2px $dark-blue;
    font-size: 16px;
    padding: 2px 0;
  }

  .message {
    color: #fff;
    text-shadow: 0 2 0 $dark-blue;
    text-stroke: 2px $dark-blue;
    font-size: 16px;
    padding: 2px 0;
    flex-grow: 1;
  }

  &.noname .name {
    display: none;
  }

  &.noavatar image {
    display: none;
  }
}
