@using Facepunch.Customization

@namespace Facepunch.Minigolf.UI
@attribute [StyleSheet("/UI/Customize/CustomizeMenu.scss")]

<root class="@(IsEquipped ? "equipped" : "")" @onclick=@(() => { Sandbox.Game.LocalClient.Components.Get<CustomizeComponent>().Equip(Part); })>
	<div class="inner">
		<label>@Part.DisplayName</label>
	</div>
</root>

@code {
	public CustomizationPart Part { get; set; }
	private bool IsEquipped => Sandbox.Game.LocalClient.Components.Get<CustomizeComponent>().IsEquipped(Part);
	protected override int BuildHash() => HashCode.Combine(IsEquipped);
}
