@using Facepunch.Customization

@namespace Facepunch.Minigolf.UI

@inherits Sandbox.UI.Panel
@attribute [StyleSheet( "/UI/Customize/CustomizationMenu.scss" )]

<root class="@( IsEquipped ? "equipped" : "" )" @onclick=@( Click )>
	<div class="inner">
		<img src=@Item.Icon>
		<label>@Item.ResourceName</label>
	</div>
</root>

@code {
	public CustomizationItem Item { get; set; }
	private bool IsEquipped => Sandbox.Game.LocalClient.Components.Get<CustomizationComponent>().IsEquipped( Item );
	protected override int BuildHash() => HashCode.Combine( IsEquipped );

	private void Click()
	{
		var cc = Game.LocalClient.Components.Get<CustomizationComponent>();
		if ( cc.IsEquipped( Item ) )
			cc.Unequip( Item );
		else
			cc.Equip( Item );
	}
}
