@using Sandbox.Razor;

@namespace Facepunch.Minigolf.UI
@inherits Panel

<root class="@Classes">
    <div class="main">
        @Main
    </div>

    <div class="overlay">
         <div class="overlay-content accent">
            @Overlay
         </div>
    </div>
</root>

@code
{
    public RenderFragment Main { get; set; }
    public RenderFragment Overlay { get; set; }
    public bool Small { get; set; }
    public bool Square { get; set; }
    public Color Color { get; set; } = Color.Parse( "#eda656" ).Value.Darken( 0.1f );

    public string Classes
    {
        get 
        {
            var str = "";
            if ( Small ) str += "small ";
            if ( Square ) str += "square ";
            return str;
        }
    }

    protected override void OnAfterTreeRender( bool firstTime )
    {
        var str = ".accent { background-color: " + $"{Color.Hex}" + "; } .accent-foreground { color: " + $"{Color.Hex}" + "; }";
        StyleSheet.Parse( str );
    }
}
