@namespace Facepunch.Minigolf.UI
@inherits Panel

<root>
    <ButtonCard>
        <Main>
            @Cosmetic.Title
        </Main>

        <Overlay>
            View
        </Overlay>
    </ButtonCard>
</root>

@code
{
    public Cosmetic Cosmetic { get; set; }

    private bool IsEquipped => CosmeticController.Local.Cosmetics.All.Contains( Cosmetic.GameObject );

    protected override void OnAfterTreeRender( bool firstTime )
    {
        if ( firstTime )
        {
            BindClass( "equipped", () => IsEquipped );   
        }
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( Cosmetic, IsEquipped );
    }
}
