@namespace Facepunch.Minigolf.UI
@inherits Panel

<root>
    <div class="main column">
        <div class="row padding-header accent">
            <label>@SceneFile.Title</label>
            <div class="grow"/>
            <div class="gap center">
                @for ( int i = 0; i < 5; i++ )
                {
                    <i class="@(Stars> i ? "active" : "inactive")">star</i>
                }
            </div>
        </div>

        @if ( Played )
        {
            <div class="row grow-content">
                <StatCard Name="Strokes" Stat="total_strokes-@Ident" />
                <StatCard Name="Average Par" Stat="total-par-@Ident", Fallback="DNF", Result=@StatResultType.Average />
                <StatCard Name="Finished Holes" Stat="goals-@Ident" />
            </div>
        }

        else
        {
            <div class="row gap-small center circle">
                <label class="small">You haven't played this course yet</label>
            </div>
        }

    </div>
    
    <div class="background">
        <div class="play absolute">
            <i>play_circle_filled</i>
            <label>PLAY @SceneFile.Title.ToUpperInvariant()</label>
        </div>
    </div>



</root>

@code
{
    public CourseInfo Info => Course.GetCourseInfo( SceneFile );
    public SceneFile SceneFile { get; set; }
    public int Stars => Info.Stars;
    public string Ident => Info.Ident;

    public bool Played => Stats.Get( $"total_strokes-{Ident}", false ) > 0f;

    protected override void OnClick( MousePanelEvent e )
    {
        Scene.Load( SceneFile );
    }
}
