@namespace Facepunch.Minigolf.UI
@inherits Panel

<root>
    <div class="background" />

    <div class="main column gap">
        <label>@SceneFile.Title</label>
        <label class="thin small">@SceneFile.Description</label>

        @if ( Played )
        {
            <div class="row gap-small grow-content">
                <StatCard Name="Strokes" Stat="total_strokes-@Ident" />
                <StatCard Name="Hole In Ones" Stat="hole-in-ones-@Ident" />
                <StatCard Name="Finished Holes" Stat="goals-@Ident" />
            </div>
        }
        else
        {
            <div class="row gap-small center circle">
                <label class="small">You haven't played this course yet</label>
            </div>
        }

    </div>

    <div class="play absolute">
        <i>play_circle_filled</i>
        <label>PLAY</label>
    </div>
</root>

@code
{
    public Course Course { get; set; }
    public SceneFile SceneFile { get; set; }
    public string Ident => Course.ParseIdentFromSceneFile( SceneFile );

    public bool Played => Stats.Get( $"total_strokes-{Ident}", false ) > 0f;

    protected override void OnClick( MousePanelEvent e )
    {
        Scene.Load( SceneFile );
    }
}
