@import "/UI/_vars.scss";

$stat-border: 4px;

StatCard
{
    mix-blend-mode: lighten;
    border-radius: 2px;

    &:first-child
    {
        border-radius: $stat-border 0px 0px $stat-border;
    }

    &:last-child
    {
        border-radius: 0px $stat-border $stat-border 0px;
    }
}
