{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "ball": "Collide"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "ball",
      "b": "ball",
      "r": "Ignore"
    }
  ],
  "__guid": "d6703213-32be-4fb3-89e5-6c28b026d3dc",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}