@using Sandbox;
@using Sandbox.UI;

@inherits RootPanel
@implements Sandbox.Menu.IGameMenuPanel
@attribute [StyleSheet]

<root>
	
	<background />
	<gradient />
	
	<main>

		<menu>
			<img src="/ui/minigolf_logo.png" class="logo" />

			<MenuItem>Play</MenuItem>
			<MenuItem>Settings</MenuItem>
			<MenuItem>Quit</MenuItem>
		</menu>

		<footer>

			<left>
				<label class="small">This is where we put writing for some reason or another blah blah blah</label>
			</left>

			<right>
				<img src="avatar:76561198128972602" class="avatar" />
				<label class="small">Alex</label>
			</right>
			
		</footer>
		
	</main>

</root>
