@using Sandbox;
@using Sandbox.UI;

@namespace Facepunch.Minigolf.UI
@inherits Sandbox.UI.NavHostPanel
@implements Sandbox.Menu.IGameMenuPanel
@attribute [StyleSheet]

<root>

	<background />
	<gradient />

	<main>
		
		<left>
			<menu>
				<div class="navigator-canvas" slot="navigator-canvas" />
			</menu>
		</left>

		<right>
			<span>
				<img src="avatar:76561198128972602" class="avatar" />
				<label class="small">Alex</label>
			</span>
		</right>

	</main>

</root>

@code {
	public BaseMenu CurrentMenu => CurrentPanel as BaseMenu;

	public MainMenu()
	{
		DefaultUrl = "/";

		AddDestination("/", typeof(Home));
		AddDestination("/play", typeof(Play));
	}
}
