@using Sandbox;
@using Sandbox.UI;

@namespace Facepunch.Minigolf.UI
@inherits Sandbox.UI.NavHostPanel
@implements Sandbox.Menu.IGameMenuPanel
@attribute [StyleSheet]

<root>

	<background />
	<gradient />

	<main>

		<menu>
			<div class="navigator-canvas" slot="navigator-canvas" />
		</menu>

		<footer>

			<left>
				<label class="small">This is where we put writing for some reason or another blah blah blah</label>
			</left>

			<right>
				<img src="avatar:76561198128972602" class="avatar" />
				<label class="small">Alex</label>
			</right>

		</footer>

	</main>

</root>

@code {
	public BaseMenu CurrentMenu => CurrentPanel as BaseMenu;

	public MainMenu()
	{
		DefaultUrl = "/";
		
		AddDestination("/", typeof(Home));
		AddDestination("/play", typeof(Play));
	}
}
