HoleNumberPanel
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	gap: 32px;

	.title
	{
		font-size: 80px;
		font-family: Poppins;
		color: #fff;
		font-weight: bold;

		&:nth-child( odd )
		{
			color: red;
		}
	}
}
