$primary: #3472e6;
$primary-fg: #f5f8fe;

$secondary: #edcd24;
$secondary-fg: #494638;

$header-height: 120px;
$header-spacing-top: 40px;
$header-spacing-bottom: 32px;

$button-inactive: #0b0d12;
$button-inactive-top: #161923;
$button-inactive-fg: #7f8186;

$button-active: $primary;
$button-active-fg: $primary-fg;

$background: #0f131a;
$content-border: 100px;

$card-background: #262a32;
$card-foreground: #abb8cf;

$font-title: "FredokaOne";

$padding-head: 150px;
$padding-edge: 100px;

$light-blue: #c1dcff;
$dark-blue: #1b386f;
$green: #69d636;
$light-green: #bfd636;
$dark-grey: #121210;
$red: #eb5e55;
