@import 'vars';
@import 'button';

$player-width: 80px;

readyscreen {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    background-color: rgba( #000, 0.90 );
    transition: opacity 0.6s ease-out;
    pointer-events: all;
    z-index: 9000;
    color: white;
    backdrop-filter: blur( 25px );

    div.header {
        position: absolute;
        flex-direction: column;
        top: 225px;

        text {
            font-family: Poppins;
            font-size: 50px;
            font-weight: 900;
            color: white;
            text-shadow: 5px 5px 50px rgba( black, 0.8 );
            text-align: center;

            &:last-child {
                font-size: 32px;
                font-weight: 700;
            }
        }
    }

    .count {
        font-size: 20px;
        font-family: Poppins;
    }

    .players {
        margin: 64px 0 8px 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        // background-color: rgba(0, 0, 255, 0.25);
        border-radius: 8px;
        padding: 8px;

        readyscreenplayer {
            flex-direction: column;
            align-items: center;
            margin: 8px;
            transition: all 0.1s linear;
            border-radius: 8px;


            image {
                width: 72px;
                height: 72px;
                border-radius: 8px;
                opacity: 0.4;
            }

            box-shadow: 0 0 30px rgba( black, 0.9 );
            background-color: #000;

            &.ready {
                box-shadow: 0 0 30px rgba( green, 0.9 );
                image { opacity: 1; }
            }
            /*label {
                background-color: rgba(0, 0, 0, 0.8);
                border-radius: 50%;
                padding: 4px 16px;
                align-items: center;
                margin-top: 8px;
                font-family: Poppins;
                font-weight: 500;
                color: white;
                font-size: 16px;
                text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
                //text-wrap: none;
                overflow: hidden;
                //text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 100%;
                // width: 100%;
                // width: 100%;
                // text-align: center;
            }*/
        }
    }

    .button {
        font-size: 20px;
        padding: 10px 20px;
        margin-top: 16px;
    }

    .tip {
        position: absolute;
        bottom: 32px;
        width: 50%;
        height: 42px;
        font-size: 14px;
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: Poppins;
    }


    &.hide {
        opacity: 0;
        pointer-events: none;
    }
}
