@import "./_vars.scss";

.scorescreen {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba($dark-grey, 0.9);
  backdrop-filter-blur: 32px;
  transition: all 0.25s ease-in;
  z-index: 5000;

  &:intro,
  &:outro {
    opacity: 0;
  }

  &:intro {
    .title {
      transform: rotate(20deg) scale(0.1);
      opacity: 0;
    }
  }

  &:outro {
    .title {
      transform: rotate(-20deg) scale(4);
      opacity: 0;
    }
  }

  .title {
    font-weight: 900;
    color: $red;
    font-size: 144px;
    transform: rotate(-4deg) scale(1);
    transition: all 0.25s linear;
    text-transform: uppercase;
    margin-bottom: -56px;
    text-shadow: 0 14 0 black;
    text-stroke: 10px black;
    opacity: 1;

    &:nth-child(2) {
      font-size: 100px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
