@import 'vars';

$avatar-size: 72px;

waitingscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    background-color: rgba( black, 0.90 );
    transition: opacity 0.6s ease-out;
    pointer-events: all;
    color: white;
    backdrop-filter: blur( 15px );

    div.header {
        flex-direction: column;

        text {
            font-family: Poppins;
            font-size: 50px;
            font-weight: 900;
            color: white;
            text-shadow: 5px 5px 50px rgba( black, 0.8 );
            text-align: center;

            &:last-child {
                font-size: 32px;
                font-weight: 400;
            }
        }
    }

    .waiting {
        flex-direction: column;
        align-items: center;

        text {
            font-size: 24px;
            font-family: Poppins;
            font-weight: 300;

            &.count {
                font-weight: 600;
            }
        }

        & :last-child text {
            font-size: 18px;
            margin-top: 8px;
        }
    }


    .players {
        margin: 32px 0 8px 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 8px;
        padding: 8px;
    }

    &:outro {
        opacity: 0;
        pointer-events: none;
    }
}

waitingscreenclient {
    flex-direction: column;
    align-items: center;
    margin: 8px;
    transition: all 0.1s linear;
    border-radius: 8px;

    image {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 8px;
        opacity: 0.8;
    }

    box-shadow: 0 0 30px rgba( black, 0.9 );
    background-color: #000;

    &.loaded {
        box-shadow: 0 0 30px rgba( green, 0.9 );

        image {
            opacity: 1;
        }
    }
}